body {
    font-size: 16px;
}
.content-wrapper{
    margin-top: 65px;
}
/* Splash screen css start here */
#centerBGImg {
    background:url(../images/splash_bg.png) no-repeat center top;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    position:fixed;
    height:100%;
    width:100%;
}
#spashHeader {
    border:none;
    position:relative!important;
    width:100%;
    margin:0;
    padding-bottom: 5px;
}

#splashRow {
    background: #70507f;
    background: -moz-linear-gradient(left, #70507f 13%, #e5e5e5 100%);
    background: -webkit-linear-gradient(left, #70507f 13%, #e5e5e5 100%);
    background: linear-gradient(to right, #70507f 13%, #e5e5e5 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#70507f', endColorstr='#e5e5e5', GradientType=1);
}
#spashHeader .row{
    margin-right: 0;
}
#splashRow img {
    width:48px;
    margin-left:10px;
    cursor:pointer;
}
#downHeaderImg {
	height: 50px;
	width: 100%;
	float: left;
	font-size: 15px;
    padding-top: 4px;
	border-right: 8px solid #ea1921;
}
.pTagOurB {
	float: right;
	color: #fff;
	margin: 0;
	padding: 0;
	margin-right: 10px;
}
#downHeaderImg span {
	float: right;
	color: #fff;
	margin-right: 10px;
}
.bottomDiv {
	position: fixed;
	z-index: 2;
	width: 100%;
	bottom: 0px;
	opacity: 0.8;
	background: #4c9bcf;
	background: -moz-linear-gradient(left, #4c9bcf 13%, #ffffff 100%);
	background: -webkit-linear-gradient(left, #4c9bcf 13%, #ffffff 100%);
	background: linear-gradient(to right, #4c9bcf 13%, #ffffff 100%);
}
#logoId {
    margin-left:30px;
    width:150px;
    margin-top: 5px;
}
#spashHeader #logoIdRight {
    float: right;
    width: 170px;
    margin-top: 5px;
}
.bottomDiv .pTagOurB, .bottomDiv #downHeaderImg span {
    color: #2d2d2d;
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    z-index: 999999;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
.bgForLoader {
    width:100%;
    height: 100%;
    background:#ccc;
    top:0;
    position:absolute;
    opacity:0.3;
    z-index:999999;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Splash screen css end here */
.searchContainer{
    float: right;
}
.searchContainer #searchIcon {
    right: initial;
    left: 0;
    color: #ccc;
}
.searchContainer #searchbox {
    padding-right: 12px;
    padding-left: 34px;
    width: 180px;
}
.topPapeTitle{
    position: absolute;
    text-align: center;
    width: 95%;
    line-height: 60px;
    z-index: 9;
    margin-left: 5%;
    font-weight: bold;
    font-size: 18px;
    padding-right: 5%;
}
/* select login types screen css start here */
.container-login {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;   
    padding: 80px;
}
#loginPage .container-login,#croSignPage .container-login,#ssoDevPage .container-login,#chooseRoleBody .container-login{
    padding: 80px;
}
.searchContainer a{
    color: #337ab7;
}
.bg-tooltip + .tooltip > .tooltip-inner {background-color: #51b1bf;}
.bg-tooltip + .tooltip > .tooltip-arrow {border-top-color:#51b1bf;}

.searchContainer a img{
    display: inline-block;
}
.searchContainer a font{
    margin-right: 5px;
}
.highClass{
    margin-left: 10px;
    margin-right: 10px;
}
#signup .container-login {
    padding: 35px 80px;
}
.wrap_btn a{
    font-size: 15px;
    color: #ffffff;
}
.wrap-login {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;   
}
.wrap-login {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 35px;  
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.login-form {
    width: 100%;
}
.login-form-title {
    display: block;
    font-size: 25px;
    color: #a3a5a6;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
}
#centerBGImg .wrap-login .login-form div>span{
    right: 0px;
    z-index: 9;
    top: 14px;
}
#centerBGImg .wrap-login .login-form div>span{
    /* right: 38px; */
    position: absolute;
    color: #51b1bf;
    right: 0px;
    z-index: 9;
    top: 14px;
}
.forgotDiv{
    float: right;
}
/* Remember button css */
#remeberDiv{
    margin-left: 0;
}
#remeberDiv #rememberTxt{
    top: 0px;
    position: relative;
    left: 10px;
    color: #000;
}
.forgotbtn{
    color: #000;
}
#remeberDiv {
    position: relative;
    float:left;
}

#remeberDiv label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #51b1bf;
    border-radius: 4px; 
}

#remeberDiv label:after {
    content: '';
    width: 12px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#remeberDiv label:hover::after {
    opacity: 0.3;
}

#remeberDiv input[type=checkbox] {
    visibility: hidden;
}

#remeberDiv input[type=checkbox]:checked + label:after {
    opacity: 1;
}
  /* end .squaredThree */
/*------------------------------------------------------------------
[ Button ]*/
.container-login-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;
  }
  
  .wrap-login-form-btn {
    display: block;
    border-color: #46b8da;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 15px auto;
    margin-bottom: 15px;
    width: 100px;
  }
  .loginBtnCSS{
    margin: 0;
    margin-bottom: 15px;
  }
  .wrap_btn{
    width: 75%;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .signupSubBtn,.signupBtn,.signInBtn,.proceedBtn{
    font-weight: bold;
    width: 100%;
    border: none;
    color: #fff;
    background-color: #51b1bf;
  }
  .croBtn{    
    margin-bottom: 20px;  
  }
  .grey{
    background-color: #a3a5a6 !important;
  }
  .activeBtn {
    background-color: #dceff2 !important;
    color: #2d688d !important;
    border-color: #51b1bf !important;
    border-left: 4px solid #ea1921 !important;
    font-size: 18px;
    font-weight: bold;
  }
  .login-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    top: 0;
    left: -100%;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login-form-btn {
    font-family: Poppins-Medium;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
  }
  .wrap-login-form-btn:hover .login-form-bgbtn {
    left: 0;
}

/* Divider line  welcome screen start here*/
.dividerMain{
    width: 100%;
    display: block;
    overflow: hidden;  
}
#centerBGImg .wrap-login .divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
#centerBGImg .wrap-login .divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
    background-color: white;
    border-bottom: 1px solid #ccc;
    border-radius: 50%;
    color: #ccc;
}
#centerBGImg .wrap-login .divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
} 
/* Divider line  welcome screen end here*/

/* SSO User Role Buttons CSS Start Here */

/* SSO User Role Buttons CSS End Here */

/* Signup form css start here */
#centerBGImg .wrap-login .login-form .form-group label{
    color: #a3a5a6;
}
.inputGroupContainer input{
    color: #000000;
}
.control-label{
    font-weight: normal;
}
#centerBGImg .wrap-login .login-form .formInputBox {
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 3px;
    width: 70%;
}
.selectContainer select{
    outline: none;
    border: none;
}
.selectContainer .input-group{
    width: 85%;
}
#centerBGImg .wrap-login .login-form .form-group{
    width: 100%;
}

.form-horizontal .input-group{
    border-bottom: 1px solid #ccc;
}
.form-horizontal .input-group input{
    outline: none;
    border: none;
}
/* Signup form css end here */

/* Hamburger menu css start here */
.mainDiv .main-sidebar, .mainDiv .left-side {
    background-color: #367fa9;
}
.mainDiv .main-header .logo {
    background-color: #367fa9;
    color: #fff;
    border-bottom: 0 solid transparent;
}
.mainDiv .user-panel>.info, .mainDiv .user-panel>.info>a {
    color: #fff;
}
.mainDiv .main-header .navbar {
    background-color: #ffffff;
}
.mainDiv .main-header .navbar .sidebar-toggle {
    color: #ccc;
}
.mainDiv .sidebar-menu>li.active>a {
    border-left-color: #ff0000;
}
.mainDiv .sidebar-menu>li:hover>a, .mainDiv .sidebar-menu>li.active>a, .mainDiv .sidebar-menu>li.menu-open>a {
    color: #fff;
    background: #5bc0de;
    font-weight: bold;
}
.mainDiv .sidebar-menu>li>a {
    border-left: 3px solid transparent;
}
.new{
    color: #32b924;
}
.mainDiv .sidebar a {
    color: #b8c7ce;
}
.logo img{
    width: 100%;
    cursor: default;
    width: 40px;
    /* cursor: pointer; */   
}
.navbar-nav .logoRightSide{
    float: right;
    width: 115px;
}
/* Hamburger menu css end here */

/* Table container CSS start here */
.formHeaderRow{
    width: 100%;
    margin: 0;
    position: fixed;
    background: linear-gradient(to right, #367ea9, white);
    height: 50px;
    text-align: right;
    z-index: 99;
    border-right: 6px solid #ea1921;
}
.dataTables_scrollHeadInner table{
    overflow: hidden;
}
.bgColorYellow {
    background-color:#FF0!important;
}
.boxArea a{
    display:inline-block;
    padding: 6px;
}
.performActionFont{
    font-weight: bold;
}
.disabledImg,.disabledTxt{
    cursor: default;
}
.requestNo,.raisedBy{
    text-decoration: underline;
    cursor: pointer;
    color: #337398;
}
input:disabled{
    background: #dddddd;
}
#ImgTxtModel #descDiv textarea{
    height: 355px;
    min-height: 355px;
}
.requestNo a{
    color:#337398;
}
.userName{
    color:#000;
}
.navbar-nav a{
    cursor: default;
}
.navbar-nav>li>a:hover{
    background: #FFF;
}
.dataTables_scrollHeadInner table th{
    color: #2d688d;
    font-weight: normal;
}
div.dataTables_scrollHead table.dataTable {
    border: 1px #5bc0de solid;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #0882a7;
    display: inline-block;
}
.table>tbody>tr>td, .table>thead>tr>th {
    text-align: center;
}
.table>thead>tr>th {
    color: #367ea9;
    font-weight: normal;
    border-bottom: 0px !important;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
}
/* #create-form .selectpicker li:first-child{color: grey; display: none;} */
.odd,.even {
    background-color: #fff;
}
.table>tbody>tr>td:nth-child(1){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.table>tbody>tr>td:nth-last-child(1) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.table>tbody>tr>td {
    border-top: solid 5px #ecf0f5 !important;
    border-bottom: solid 5px #ecf0f5;   
}
.table>tbody>tr>td{
    vertical-align: middle;
    white-space: nowrap;
}
#example1_filter{
    float: right;
}
#example1 .dataTables_empty{
    text-align: center;
}
table{
    width: 100%;
}
table.dataTable{
    border-collapse: collapse !important;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
    border: none;
    white-space: nowrap;
}
.dataTables_scrollHead{
    position: relative;
    overflow: auto;
    width: 100%;
}
/* Table container CSS end here */

/* Date calender css start here */
.fromDateDiv{
    margin-right: 18px;
}
.fromDateDiv,.toDateDiv{
    width: 245px;
    display: inline-block;
    margin-bottom: 0;
}

.calendarDiv{
    margin-top: 5px;  
}
.calenderLebal{
    float: left;
    line-height: 30px;
    margin-right: 10px;
}
.calendarDiv .input-group input{
    height: 28px;
}
.fromDateDiv .input-group,.toDateDiv .input-group{
    border-radius: 6px;
    border: 1px solid #ccc;
    overflow: hidden;
}
.fromDateDiv .input-group input,.toDateDiv .input-group input{
    border: none;
}
.fromDateDiv .input-group .input-group-addon,.toDateDiv .input-group .input-group-addon{
    border: none;
} 

/* Search */
.icon-addon .glyphicon, .icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    top: 1px;
}
#searchbox
{
    line-height: 25px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: arial;
    padding-left: 10px;
    float: right;
}
/* Date calender css end here */

/* Dashboard CSS Start Here */
#raiseRequest{
    width: 155px;
}

/* Dashboard CSS End Here */

/* Choose form type options start here */
.formType_container{
    margin: 80px auto;
}
.formType_container span.titleTxt{
    font-size: 18px;
    font-weight: normal;
    color: #333;
}
#contentDiv{
    height: 100%;
}
.addSite{
    border-left: 1px solid #ccc;
    border-radius: 0;
}
.ms-options-wrap > button > span{
    overflow: hidden;
    width: 100%;
}
/* Choose form type options end here */

/* Budget form CSS start here */
#formContainer{
    background-color: #fff;
}
.budget_contract #inputOptionsAttach .plusPosition .fileMainDiv{
    padding: 0;
}
.site-box .inputTxt:disabled{
    background: #fff;
}
.budgetFormHeader{
    background: linear-gradient(to right, #367ea9, white);
    height: 54px;
    text-align: right;
    z-index: 99;
    border-right: 6px solid #ea1921;
}
.budgetFormHeader .pHeader{
    padding: 10px;
    color: rgb(54, 126, 169);    
    margin-right: 132px;
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
}
.budgetFormHeader .pHeaderTitle {
    padding: 10px;
    color: rgb(54, 126, 169);   
    line-height: 32px;
    font-size: 16px;
    text-align: center;
}
.navLogo{
    height: 28px;
}
.fixedHeader {
    height: 70px;
    background-color: #ccc;
    position: fixed;
    width: 100%;
    top: 95px;
    border-right: 14px solid #ff0000;
    margin: 0;
    background: #4c9bcf;
    background: -moz-linear-gradient(left, #4c9bcf 13%, #ffffff 100%);
    background: -webkit-linear-gradient(left, #4c9bcf 13%, #ffffff 100%);
    background: linear-gradient(to right, #4c9bcf 13%, #ffffff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4c9bcf', endColorstr='#ffffff', GradientType=1);
}
.studyTitle{
    color: #337398;
    font-weight: bold;
}
.topMargin{
    margin-top: 20px;
}
#formContainer .content{
    width: 95%;
}

.create-form .optionVal,#checkListDiv .optionVal {    
    display: inline-block;
    width: 154px;
    text-align: right;
    margin-right: 20px;
    line-height: 30px;
}
.dropdown .bootstrap-select{
    width: 100% !important;
}
.create-form #inputStudyDetail .selectContainer input {
    line-height: 30px;
    width: 54%;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: arial;
    padding-left: 10px;
    margin: 10px 0;
}
.create-form .issueRaised{
    display: inline-block;   
    text-align: left;
    margin-right: 20px;
}
.create-form label.radionBtn {
    font-size: 16px;
    color: #333;
    font-weight: normal;
}

/*Radio box*/

input[type="radio"] + .label-text:before{
	content: "\f10c";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}
input[type="radio"]{
    opacity: 0;
}
input[type="radio"]:checked + .label-text:before{
	content: "\f192";
	color: #337398;
	animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

input[type="radio"]:disabled + .label-text:before{
	color: #ccc;
}
.previousIssue .form-check{
    display: inline-block;
    margin-top: 10px;
}
.followUpDropDown .dropdown{
    margin-left: 15px;
}

.pageBorder{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.mainDropDownBg {   
    font-family: arial;
    display: inline-block;
    width: 54%;
    margin: 10px 0;
}
.issueTypes .issueTypeRow{
    padding: 0;
}
.issueTypes .form-check{
    margin-top: 10px;
}
.site-box .dropdown {
    font-family: arial;
    display: inline-block;
    width: 19%;
    margin: 10px 0;
    margin-left: 10px;
}
.site-box .optionValTile{
    display: inline-block;
    width: 198px;
    text-align: right;
    margin-right: 6px;
}
.site-box .siteRText,.site-box .initialText,.banchmarkText{
    line-height: 30px;
    height: 35px;
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: arial;
    padding-left: 10px;
    margin: 10px 0;
    display: inline-block;
}
.site-box .inputTxt{
    line-height: 30px;
    height: 35px;
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: arial;
    padding-left: 10px;
    margin: 10px 0;
    display: inline-block;
}
.escalationFollowUpMain{
	margin:0;
}
.escalationFollowUp{
	line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: arial;
    padding-left: 10px;
    margin: 10px 0;
}
.addAttachment,.priority{
    display: inline-block;
    text-align: left;
    margin-right: 20px;
    margin-top: 20px;
}
.currencyDropdown .bootstrap-select>.btn {
    width: auto;
}
.selectpicker .caret{
    color: #337398;
    width: 9px;
}
.create-form #inputStudyDetail .selectContainer .bs-searchbox input{
   width: 100%;
}
.tokenfield {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    background: transparent;
    max-height: 60px;
    overflow-y: scroll;
    border-radius: 5px !important; 
    border: 1px solid grey !important; 
}
.budget_contract .tokenfield .token-input {
    float: left !important;
    width: 75% !important; 
    margin-top: 0px !important;
    border: none !important; 
}
.emailValidation{
    display: inline-block;
}
.chooseDiv a{
    white-space: normal;
}
.icf_type .tokenfield{
    display: inline-block;   
    width: 54%;
}
.icf_type .tokenfield .token-input {
    border: none !important; 
    width: 100% !important;
}
.budget_contract .tokenfield{
    width: 78%;
    display: inline-block;
}
.tokenfield .token {
    float: left;
    background-color: #d8e6ee !important;
}
.create-form .ccLebal{
    line-height: 45px;
}
.ccTag{
    top: -12px;
    position: relative;
}

/* Form buttons start here */
.arrowBtn{
    margin-top: 10px;
}
.formBtns span{
    font-weight: bold;
    width: 125px;
    border: none;
    color: #fff;
    background-color: #51b1bf;
    border-radius: 4px;
    border-radius: 25px;
}
.formBtns a{
    font-weight: bold;
    width: 125px;
    border: none;
    color: #fff;
    background-color: #51b1bf;
    border-radius: 4px;
    border-radius: 25px;
}
.arrowBtn .btn.focus,.arrowBtn .btn:focus,.arrowBtn .btn:hover{
    color: #fff;
}
/* Form buttons end here */

/* Add attachment start here */
.attachmentBtns .spaceDiv {
    height: 17px;
}
.attachmentBtns .previewimgSize {
    height: 45px;
}
.attachmentBtns .abcdSize {
    float: left;
    margin-left: 10px;
}
/* Add attachment end here */

/* Choose the Priority start here */
.urgentHigh{
    text-align: left;
}
.priorityTitle{
    text-align: left;
    margin: 0;
    margin-left: 15px;
}

/* Choose the Priority end here */

/* Budget form CSS end here */

/* ICF Form CSS start here */
.icfFormRadio{
    display: inline-block;
    margin-top: 10px;
}
.icfRadioTitle{
    font-weight: bold;
}
.attachImgInput .attachTxtdiv {
    font-weight: bold;   
    border: none;
    color: #fff;
    background-color: #51b1bf;
    position: absolute;
}
.icfRadioContainer{
    margin-bottom: 20px;
}
.icfRadioContainer .linkInput{
    margin-left: 18px;
    margin-top: 5px;
}
.icfRadioContainer .enterLink{
    border: 1px solid #ccc;
    border-radius: 4px;
}
.icfRadioContainer .linkInput input{   
    font-size: 15px;
    text-align: left;
    line-height: 31px;
    height: 35px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-family: arial;
    padding-left: 10px;
}
.icfRadioContainer .addLinkBtn
{
    font-weight: bold;
    border: none;
    color: #fff;
    background-color: #51b1bf;
    position: absolute;
    margin-left: 10px;
    margin-top: 2px;
}
.attachImgInput{
    margin-left: 20px;
}
.attachImgInput .uploadAttach{
   
    margin-bottom: 5px;
    margin-top: 10px;
}

.icfRadioContainer .documentType .icfImg{
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}
.saveForm{
    display: block;
    font-weight: bold;
    width: 125px;
    border: none;
    color: #fff;
    background-color: #51b1bf;
    border-radius: 4px;
    border-radius: 25px;
    margin: 0 auto;
}
/* ICF Form CSS end here */
/* Request number popup css start here */
.requestNoBody{
    padding-left: 40px;
    padding-right: 40px;
}
.checkListPopup{
    min-height: 545px;
    overflow-y: auto;
}

.modal{
    z-index: 99999;
}
.modal-backdrop{
    z-index: 9999;
}
#myModal h4 span{
    font-weight: normal;
}
.popupHeight{
    max-height: 545px;
    overflow-y: auto;
}
#ImgTxtModel .modal-content{
    min-height: 190px;
}
.editPerformAction, .performAction {
    background-color: #4c9bcf;
    font-size: 10px;
    line-height: 1.5;
    border-color: #4c9bcf;
    margin-right: 13px;
    font-size: 13px;
    padding: 4px 10px 4px 10px;
    border-radius: 25px;    
}
.performActionDisable{
    background-color: #CCC;
    font-size: 10px;
    line-height: 1.5;
    border-color: #CCC;
    margin-right: 13px;
    font-size: 13px;
    padding: 4px 10px 4px 10px;
    border-radius: 25px;
}
#checkListDiv{
    overflow: hidden;
}
#checkListDiv .titleTxt{
    color: #337398;
    text-align: left;
}
#checkListDiv .floatLeft{
    float: left;
	margin:0;
}
#checkListDiv .fontTitle{
	text-align:left;
}

#checkListDiv .issueRaised{
	float:left;
}
#checkListDiv .floatLeft span{
    font-weight: normal;
	float:left;
}
#checkListDiv .dropBoxClass input{
    line-height: 30px;
    height: 35px;
    width: 53%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: arial;
    padding-left: 10px;
    margin: 0;
    margin-bottom: 10px;
    background: #fff;
    font-size: 14px;
}
#checkListDiv .firstRow{
    margin-top: 38px;
}
#checkListDiv textarea{
    background-color: #ffffff;
}
#checkListDiv .linkTag {
    font-size: 10px;
    text-align: left;
    float: left;
    padding: 0 0 0 15px;
}
#checkListDiv .note-editable{
    background-color: #ffffff;
    text-align: left;
}
#checkListDiv input.currencyTxT{
    width: 16%;
    margin-left: 10px;
}
#checkListDiv .site-box input{
    background-color: #ffffff;
}
#checkListDiv .selectedRadio{
    color: #337398;
    font-weight: normal;
}
.site-box{
    text-align: left;
}

/* Contarct form css start */
#inputOptionsAttach .abcdSize{
    text-align: left;
}
.imgRemoveDiv .attachTxtdiv{
    font-weight: bold;
    border: none;
    color: #fff;
    background-color: #51b1bf;
    position: absolute;
}
#checkListDiv .rowMargin{
	margin-top:10px;
}
#example1_wrapper .dataTable,.dataTables_scroll{
    width: 100% !important;
}
.dataTables_filter {
    display: none;
 }
/* Request number popup css end here */

/* User Management CSS Start Here */
.addUserdiv{
    line-height: 48px;
}
.addUserdiv .add_user{
    font-weight: bold;
    border: none;
    color: #fff;
    background-color: #51b1bf;
}
.addUserdiv .siteProtocol{
    float: right;
}
.addUserdiv .siteProtocol img{
    height: 30px;
}

/* Add User popup CSS Start Here */
.multiStep .headerDiv {
    background: linear-gradient(to right, #367ea9, white);
    height: 40px;
    text-align: center;
    z-index: 99;
}
.multiStep .headerDiv p {
    padding: 9px;
    color: rgb(54, 126, 169);
    font-weight: bold;
}
.multiStep .noPadding {
    padding: 0;
}
.multiStep .input-group {
    border-bottom: 1px solid #ccc;
}
.multiStep .input-group input {
    outline: none;
    border: none;
}
.multiStep .form-group label.classTitle {
    color: #a3a5a6;
    text-align: right;
    line-height: 35px;
    font-weight: normal;
}
.multiStep .form-control-feedback{
    right: 11px;
}
.multiStep .form-group.addUserContainer{
    width: 90%;
}
.multiStep .form-group.statusContainer
{
    width: 50%;
}
.multiStep .modal-footer {
    text-align: center;
}
.multiStep .modal-footer .nextBtn,.multiStep .modal-footer .addBtn {
    margin-bottom: 0;
    margin-left: 5px;
    background: #51b1bf;
    border-color: #51b1bf;
    border-radius: 30px;
    padding: 7px 35px 7px 35px;
}
.multiStep .modal-footer .backBtn{
    border-radius: 30px;
    padding: 7px 35px 7px 35px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-top: 4px;
    background: transparent;
    color: #51b1bf;
}
.container-login-form-btn .ms-options-wrap.ms-has-selections > button
{
    width: 221px;  
}
.multiStep .ms-options-wrap > .ms-options > ul li.selected label{
    background-color:#fff;
}
.multiStep .multipleContainer{
    overflow: hidden;
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
}
.multiStep .ms-options-wrap.ms-active > .ms-options{
    min-height:98px !important;
}
.multiStep .ms-options-wrap > button:focus, .ms-options-wrap > button{
    user-select: none;
    background-image: none;
    border: 1px solid transparent !important;
    border-radius: 4px;
}
.multiStep .ms-options-wrap > button:after
{
    border-top-color: #51b1bf;
}
.checkbox {
    padding-left: 20px; }
    .checkbox label {
      display: inline-block;
      position: relative;
      padding-left: 5px; }
      .checkbox label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 3px;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
      .checkbox label::after {
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: 0;
        margin-left: -20px;
        padding-left: 3px;
        padding-top: 1px;
        font-size: 11px;
        color: #555555; }
    .checkbox input[type="checkbox"] {
      opacity: 0; }
      .checkbox input[type="checkbox"]:focus + label::before {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px; }
      .checkbox input[type="checkbox"]:checked + label::after {
        font-family: 'FontAwesome';
        content: "\f00c"; }
      .checkbox input[type="checkbox"]:disabled + label {
        opacity: 0.65; }
        .checkbox input[type="checkbox"]:disabled + label::before {
          background-color: #eeeeee;
          cursor: not-allowed; }
    .checkbox.checkbox-circle label::before {
      border-radius: 50%; }
    .checkbox.checkbox-inline {
      margin-top: 0; }
  
  .checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #51b1bf;
    border-color: #51b1bf; }
  .checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

.chkBoxContainer{
    display: inline-block;
}
.userStatusDiv{
    display: inline-block;
}
.selectContainer .btn-group{
    width: 100%;
}
#create-form .selectContainer .btn-group button,#requestNoBody .selectContainer .btn-group button{
    user-select: none;
    background-image: none;
    border: 1px solid #ccc !important;
    border-radius: 4px; 
    width: 100%;
}
.selectContainer .btn-group button{
    user-select: none;
    background-image: none;
    border: 1px solid transparent !important;
    border-radius: 4px; 
    width: 100%;
}
.selectContainer .btn-group span{
    width: 100%;
    max-width: 100%;
    text-align: left;
}
.selectContainer .btn-group button .caret{
    border-top-color: #337398;
    width: 9px;
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
label.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
label.checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.multiStep .form-group label.checkbox{
    color: #000;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* Add User popup CSS End Here */

#tabBarUser {
    position: absolute;
    border-bottom:none;
}
#tabBarUser li a{
    color: #337ab7;
}
#tabBarUser>li.active>a, #tabBarUser>li.active>a:focus, #tabBarUser>li.active>a:hover{
    background-color: #ecf0f5;
    border:none;
    font-weight: bold;
    border-bottom: 2px solid #337ab7;
}
.userTable{
    margin-top: 10px;
}

.addLegalICFBtn{
    overflow: hidden;
}
.navTabDiv
{
    overflow: hidden; 
    height: 50px;
}
.ICFSearchDiv{
    float: right;
}
.addUserContainer .btn-group{
    width: 200px;
}
.assignContainer .btn-group, #selectRequest .btn-group {
    width: 290px;
}
.addUserContainer .btn-group .caret,#selectRequest .btn-group .caret{
    right: 0px;
}
.assignDisabledBtn{
    float: right;
    margin-left: 10px;
    font-weight: bold;
    border: none;
    color: #fff;
    cursor: default;
    background-color: #51b1bf;
}
.assignBtn{
    float: right;
    margin-left: 10px;
    font-weight: bold;
    border: none;
    color: #fff;
    background-color: #51b1bf;
}
.delAssignManager{
    margin-left: 5px;
}
.normalBtn{
    border:1px solid #51b1bf;
    color: #51b1bf;
    background-color: #fff;
    margin-right: 10px;
}
.lagelAssignTabBtn:hover{
    color: #fff; 
}
.lagelAssignTabBtn{
    background-color: #51b1bf;
    border: none;
    color: #fff;
}
.icfRadioOption{
    margin-top: 10px;
}
.icfRadioOption .label-text{
    font-weight: normal;
}
.managerName{
    line-height: 30px;  
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: arial;
    padding-left: 10px;
    margin: 0;   
    background: #fff;    
    font-size: 14px;
    margin-left: 10px;
}
.marginBootom{
    margin-bottom: 5px;
}
/* Assign user popup css start here */
.assignModal .modal-title{
    color: #a3a5a6;
}
/* Assign user popup css end here */

/* Site Protocol popup CSS start here */
.titleType{
    width: 100%;
    background: linear-gradient(to right, #367ea9, white);
    height: 40px;
    text-align: center;
    z-index: 99;
    line-height: 40px; 
    color: rgb(54, 126, 169);
    font-weight: bold;
}
.table-striped>tbody>tr:nth-of-type(odd),.table-striped>tbody>tr:nth-of-type(even){
    background: #fff;
}
.siteProtocolModal{
    background: #ecf0f5;  
    padding-top: 0;
    padding-bottom: 0;
}
.addAndSearch{
    margin-top: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}
.tableWidth{
    width: 90%;
    margin: 0 auto;
}
.addSiteProtocol{
    width: 100px;
    background: rgb(81, 177, 191);
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    border-radius: 25px;
}
.addSiteProtocol,.inputProtocolSite{
    float: left;
}
.tableHeight {
    min-height: 522px;
    overflow-y: auto;
    max-height: 522px;
}
.footerSiteProtocol{
    background: #ecf0f5;
}
#protocolTbody tr td{
    text-align: left;
}
.inputProtocolSite #addbtnSiteP{
    margin-left: 10px;
    width: 70px;
    background: rgb(81, 177, 191);
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    border-radius: 25px;
   
}
#addProtocolText,#addSiteText{
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    background: #ecf0f5;
}
/* Site Protocol popup CSS end here */

/* Assign Popup CSS start here */
.assignModal .addUserContainer button{
    outline: none;
    border: none; 
}
.multiStep .assignContainer{
    overflow: hidden;
    min-height: 300px;
    overflow-y: auto;
}
.multiStep{
    text-align: center;
  }
  
  @media screen and (min-width: 768px) { 
    .multiStep:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }
  
  .multiStep .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

/* Assign Popup CSS end here */
/* User Management CSS End Here */

/* Escalation manager drop down css start here */
.dropDownRow{
    margin-top: 5px;
}
.dropDownRow .siteProtocol{
    float: right;
}
.dropDownRow .dropDownDiv{
    padding: 0;
}
.dropDownRow label{
    line-height: 30px;
    font-weight: bold
}
.dropDownRow .siteProtocol img{
    height: 30px;
}
.selectDropDown{
    display: inline-block;
    position: absolute;
    width: 200px;
    margin-left: 10px;
}
.selectDropDown button{
    border-radius: 4px;
}

/* Perform Action */
#selectStatus select{
    width: 100%;
}
.performPopup{
    background: #ecf0f5;
}
.performModal .performActionTitle{
    font-size: 20px;
    font-weight: bold;
}
.performPopup .desc{   
    color: #51b1bf;
    font-size: 14px;
    font-weight: bold;
}
.selectStatus .control-label,#roleContainer .control-label,#selectuser .control-label{
    line-height: 35px;
    margin-right: 10px;
}
.performDropDown{
    display:inline-block;
}
.selectStatus,#roleContainer,#selectuser{
    text-align: left;
}
.performTxt textarea{
    width: 93%;
    height: 120px;
}
.performAddBtn{
    background: #51b1bf;
    border-color: #51b1bf;
    border-radius: 30px;
    padding: 5px 20px 5px 20px;
    color: #fff;
    float: left;
}
.addAttachPerform .addBtn_Div input{
    height: 34px;
}
.performContainer{
    width: 85%;
    margin: 0 auto;
}
.performModal .inputPerformDetail{
    line-height: 30px;   
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: arial;
    padding-left: 10px;
    margin: 0;  
    background: #fff;
    font-size: 14px;   
    width: 220px;
}
/* Escalation manager drop down css start here */

/* Analytics css start here */
.chartHeader{
    padding: 10px;
    color: rgb(54, 126, 169);
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    background: linear-gradient(to right, #367ea9, white);
    height: 54px;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 2px;
    font-weight: bold;
}
.popupChartHeader{
    padding: 10px;
    color: rgb(54, 126, 169);
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    background: linear-gradient(to right, #367ea9, white);
    height: 54px;
    margin-bottom: 2px;
    font-weight: bold;
}
.popPieChartMainDiv,.popBarChartMainDiv{
    overflow: hidden;
}
.analyticsDiv{
    margin-top: 2px;
}
.chartRowPosition .control-label{
    line-height: 30px;
    font-weight: bold;
}
.chartPosition{
    float: right;
    font-size: 22px;
    cursor: pointer;
}
.barDropDown{
    margin-top: 10px;
}
.managerTypeDropDown,.userTypeDropDown,.barTypeDropDown,.barUserDropDown{
    overflow: hidden;
    display: inline-block;
    width: 315px;
}
.select_DropDown{
    display: inline-block;
    margin-left: 10px; 
    margin-right: 10px;
    position: absolute;
}
.PRPDiv{
    width: 285px;
    margin: 0 auto;
}
.PRPDiv ul{
    display: inline-block;
    border: 0;
}
.PRPDiv .nav-tabs>li.active>a,.PRPDiv .nav-tabs>li.active>a:focus,.PRPDiv .nav-tabs>li.active>a:hover{
    color: #337ab7;
    cursor: default;
    background-color: #ecf0f5;
    border: 1px solid #ecf0f5;
    border-bottom-color: transparent;
    font-weight: bold;
}
.pieChartposition .paiChartTitle{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #4c9bcf;
}
.paiChartFont{
    text-align: center;
}
.paiChartFont font {
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
    font-size: 22px;
    color: #000;
}
#pieChart rect,#barChart rect.highcharts-background,#barChart rect.highcharts-legend-box{
    fill: #ecf0f5;
}
#barChart .highcharts-credits{
    display: none;
}
.bottomTitle {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #4c9bcf;
}
.tabBarAnalatics{
    border-bottom: none;
}
#requestNoModal .odd,#requestNoModal .even{
    background-color:#ecf0f5;
}
#requestNoModal .table>tbody>tr>td{
    border-top: solid 5px #fff !important;
    border-bottom: solid 5px #fff;
}
#requestNoModal #myModalLabel{
    font-weight: bold;
    font-size: 24px;
}
#requestNoModal #checkListDiv{
    width: 95%;
    margin: 0 auto
}
.full-screen {
    width: 88%;
    height: 88%;
    margin: 0;
    top: 0;
    left: 0;
}
/* Analytics css end here */

/* CC Page CSS */
.content-wrapperCC,.main-footerCC{
    background: #ecf0f5;
}
.issueTypeTitle{
    width: 90%;
    display: inline-block;
    padding-left: 10%;
}
.exportBtn{
    font-weight: bold;
    display: inline-block;
    width: 80px;
    border: none;
    color: #fff;
    border-radius: 18px;
    background-color: #51b1bf;
}

#popUpBarChartDropdown,#popUpBarChartDropDRole{
    margin-top: 10px;
    display: inline-block;
}

/* MultiSelect check box CSS start here */
.aweCheckbox {
    padding-left: 20px;
  }
  .aweCheckbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 0 20px 0 10px;
    cursor: pointer;
  }
  .aweCheckbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc; 
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  .aweCheckbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }
  .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
  background-color: #ffffff;
  color: #000;
  }
  .aweCheckbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1; 
  } 
  .aweCheckbox input[type="checkbox"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
  }
  .aweCheckbox input[type="checkbox"]:indeterminate + label::after {
    display: block;
    content: "";
    width: 10px;
    height: 3px;
    background-color: #555555; 
    margin-left: -16.5px;
    margin-top: 7px;
  }
  .aweCheckbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
  }
  .aweCheckbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
  }
  .aweCheckbox.aweCheckbox-circle label::before {
    border-radius: 50%;
  }
  .aweCheckbox.aweCheckbox-inline {
    margin-top: 0;
  }
  .aweCheckbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #4fb2d9;
    border-color: #4fb2d9;
  }
  .aweCheckbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  .aweCheckbox-danger input[type="checkbox"]:indeterminate + label::before {
    background-color: #4fb2d9;
    border-color: #4fb2d9;
  }
  .aweCheckbox-danger input[type="checkbox"]:indeterminate + label::after {
    background-color: #fff;
  }
  input[type="checkbox"].styled:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
  }
  input[type="checkbox"] .styled:checked + label::before {
    color: #fff;
  }
  input[type="checkbox"] .styled:checked + label::after {
    color: #fff;
  }
  .btn-group span{
      width: 157px;
      max-width: 157px;
      display: inline-block;
      overflow: hidden;
  }
  .btn-group button{
      width: 192px;
  }
  /* MultiSelect check box CSS end here */
.deleteProtocol,.editProtocol,.deleteSite,.editSite{
    cursor: pointer;
}
div.disabled
{
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}
li.disabled{
    pointer-events: none;

    /* for "disabled" effect */
    opacity: 0.5;
}
.editSiteProtocol{
    width: 65px;
    background: #51b1bf;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 25px;
}
  #deleteModal #nextStatusBtn,#deleteModal #cancelStatusBtn, #myModalICF #nextStatusBtn,#myModalICF #cancelStatusBtn{
    margin-bottom: 0;
    margin-left: 5px;
    background: #51b1bf;
    border-color: #51b1bf;
    border-radius: 30px;
    padding: 7px 35px 7px 35px;
  }
  #deleteModal #myModalLabel, #myModalICF #myModalLabel{
    text-align: center;
    font-weight: bold;
  }
  #deleteModal .modal-body, #addEditModal .modal-body, #myModalICF .modal-body{
    text-align: center;
    font-size: 18px;
  }
  #addEditModal .modal-title{
    text-align: center;
    font-weight: bold;
  }
  #addEditModal .modal-footer{
      text-align: center;
  }
  #addEditModal .modal-footer #popupOkBtn{
    margin-bottom: 0;
    margin-left: 5px;
    background: #51b1bf;
    border-color: #51b1bf;
    border-radius: 30px;
    padding: 7px 35px 7px 35px;
    color: #fff;
  }
  #editProtocol .modal-title{
    text-align: center;
    font-weight: bold;
  }
  #editProtocol .modal-body{
    text-align: center;
    font-size: 18px;
  }
  #editProtocol .modal-footer{
    text-align: center;
  }
  #editProtocol .modal-footer #popupOkBtn{
    margin-bottom: 0;
    margin-left: 5px;
    background: #51b1bf;
    border-color: #51b1bf;
    border-radius: 30px;
    padding: 7px 35px 7px 35px;
    color: #fff;
  }
#searchboxSiteProtocol{
    line-height: 25px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: arial;
    padding-left: 10px;
    float: right;
    padding-right: 12px;
    padding-left: 34px;
}
.managementSearch{
    width: 200px;
    float: right;
    margin-top: 10px;
}
.managementSearch #searchIcon{
    top: 0;
}
.managementSearch #searchbox{
    padding-right: 12px;
    padding-left: 34px;
}
.siteProtocolModal #searchIcon,.managementSearch #searchIcon{
    right: initial;
    left: 0;
    color: #ccc;
}
.siteProtocolModal .has-feedback label~.form-control-feedback,.managementSearch .has-feedback label~.form-control-feedback{
    top: 0;
}
.siteProtocolModal .has-feedback{
    overflow: hidden;
    width: 195px;
    float: right;
}
/* Table sort icon CSS */ 
table.dataTable thead .sorting:after { 
   font-size: 13px; 
   font-family: FontAwesome;
   content: "\f0dc";
}
table.dataTable thead .sorting_asc:after {
   font-size: 13px; 
   font-family: FontAwesome;
   content: "\f0de";
}
table.dataTable thead .sorting_desc:after {
   font-size: 13px; 
   font-family: FontAwesome;
   content: "\f0dd";
}
.form-control[readonly]{
    background-color: #fff;
}
#example2{
    width: 100% !important;
}
.siteProtocolModal .dataTables_scrollHeadInner{
    display: none;
}
#passwordEye{
    cursor: pointer;
}
#pieChart .highcharts-title{
    color: #337398;
}
/* Raised by popup CSS */
#raisedByModal .modal-body{
    padding: 0;
}
#raisedByModal .headerDiv {
    background: linear-gradient(to right, #367ea9, white);
    height: 40px;
    text-align: center;
    z-index: 99;
}
#raisedByModal .headerDiv p {
    padding: 9px;
    color: rgb(54, 126, 169);
    font-weight: bold;
}
#raisedByModal .form-group.addUserContainer {
    width: 80%;
}
#raisedByModal .form-group label.classTitle {
    color: #a3a5a6;
    text-align: right;
    line-height: 35px;
    font-weight: normal;
}
#raisedByModal .input-group {
    border-bottom: 1px solid #ccc;
    width: 85%;
}
#raisedByModal .input-group input {
    outline: none;
    border: none;
    background-color: #fff;
}
#raisedByModal .container-login-form-btn{
    padding-bottom: 30px;
}
#raisedByModal #myModalLabel{
    color: #a3a5a6;
    font-weight: bold;
}
#raisedByModal .input-group-addon{
    border-color: #fff;
    padding: 0;
}
#raisedByModal .copyBtn {
    font-weight: bold;
    display: inline-block;
    width: 60px;
    border: none;
    color: #fff;
    border-radius: 8px;
    background-color: #51b1bf;
}
.performModal .multipleContainer {
    overflow: hidden;
    min-height: 385px;
    max-height: 385px;
    overflow-y: auto;
}
.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span{
    height: 50px;
}
/* Legal list blank popup css */
#legalListModal .modal-title{
    text-align: center;
}
#legalListModal .modal-body{
    text-align: center;
    color: #51b1bf;
}
#legalListModal .modal-footer{
    text-align: center;
}
#legalListModal #popupOkBtn{
    margin-bottom: 0;
    margin-left: 5px;
    background: #51b1bf;
    border-color: #51b1bf;
    border-radius: 30px;
    padding: 7px 35px 7px 35px;
    text-align: center;
}
/* nabar toggle button CSS start here */
#customIconToggle span, #customIconToggle span:after, #customIconToggle span:before {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 20px;
    background: #a3a5a6;
    position: absolute;
    display: block;
    content: '';
}
#customIconToggle span:after {
    top: -10px; 
}
#customIconToggle span:before {
    bottom: -10px;
}
.main-header .sidebar-toggle:before {
    content: " " !important;
}
#customIconToggle.active span, #customIconToggle.active span:after, #customIconToggle.active span:before {
    transition: all 500ms ease-in-out;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #customIconToggle.active {
        margin-left: 150px;
    }
}
  #customIconToggle.active {
    position: absolute;
    padding: 30px 14px;
    z-index: 9999;
    transition: margin-left .3s ease-in-out;
  } 
  #customIconToggle.active span{
    background-color: transparent;   
  }
  .sidebar-collapse .navbar  #headerLogo{
    display: block !important;
    width: 60px; 
    background-color: #fff; 
    transition: margin-left .3s ease-in-out;
    margin-left: 0px;
}

  #customIconToggle{  

    margin-left:  0px;
    transition: margin-left .3s ease-in-out;
    padding: 22px 14px;
  }
  #customIconToggle span {
    background: #fff;
  }
  #customIconToggle.active span:after, #customIconToggle.active span:before {
    top: 0;
  }
  
  #customIconToggle span:after {
    transform: rotate(0deg); 
    top: -8px;
    background: #fff;
  }
  #customIconToggle.active span:after {   
    transform: rotate(45deg);
    background: #a3a5a6;
    top: 0;
  }
  #customIconToggle span::before {
    transform: rotate(0deg);
    top: 8px;
    bottom: -8px;
    width: 50%;
    background: #fff;
  }
  #customIconToggle.active span::before{    
    transform: rotate(-45deg);
    background: #a3a5a6;
    width: 100%;
  }
  .main-header .sidebar-toggle:after{
    content: '' !important;
  }
  .main-sidebar {top: 0px !important;}

/* navbar toggle button css ends here */
.userMangerSection{
    padding-top: 53px;
}
.imgUrgent,.imgHigh{
    margin-right: 6px;
}
#wrap-login{
    width: 500px;
}
#wrap-login .selectContainer .input-group
{
    width: 226px;
}
.required{
    color: #bb0000;
}
#forgot-form .help-block{
    text-align: left;
}
#pieChartPopup .highcharts-credits{
    fill: #fff !important;
}
.highcharts-point{
    cursor: pointer;
}
button.close{
    opacity: 1;
    color: #3c8dbc;
}
.navTabDivContainer{
    float: right;
    width: 290px;
}
.navTabDivContainer .addUserdiv{
    display: inline-block;
    margin-top: 1px;
}
.navbar-nav .takedaLogo{
    display: block !important;
    padding-left: 0;
    width: 140px;
    background-color: #fff;
    transition: margin-left .3s ease-in-out;
    margin-left: 0px;
}
.controlSidebar{
    padding-top: 3px !important;
    padding-bottom: 2px !important; 
}
.managersDropDown{
    overflow: hidden;
    display: inline-block;
    width: 280px;
}
#pieChartDropDownWidth .bootstrap-select{
    width: 180px;
}
.deletedUser{
    background: #ccc;
}
#addBtn{
    color: #fff;
}
.managerTypeDropDown .dropdown-menu,.managersDropDown .dropdown-menu,.userTypeDropDown .dropdown-menu{
    width: 180px;
    overflow: hidden;
}
.tickIcon{
    left: 65px;
}
input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
}
.note-editable p{
    word-wrap: break-word;
    word-break: break-all;
}
.selectSite .dropdown-menu{
    width: 100%;
}
/*------------------------------------------------------------------
[ Responsive ]*/
@media (min-width:484px){
    #signUpContainer{
         overflow: hidden;
         overflow-y: auto;
         overflow-x: auto;
         height: 455px;
     }
 } 
 @media (max-width:500px) {
     #centerBGImg .wrap-login .login-form div{
         padding-left: 4px;
         padding-right: 4px;
     }
     #centerBGImg .wrap-login .login-form .submitBtnDiv{
         padding: 0;
     } 
     #centerBGImg .wrap-login .login-form .formInputBox{ 
         font-size: 12px;
     }
     #centerBGImg .wrap-login .login-form div>span{
         right: 14px;
     } 
 }
  @media (max-height: 554px){
    .wrap-login{
        padding-top: 5px;
    }
    .container-login-form-btn{
        padding-top: 15px;
    }
    .login-form-title{
        font-size: 20px; 
    }   
  }
  @media (max-height: 590px){
    #downHeaderImg{
        height: 70px;
        padding-top: 10px;
    }
  }
  @media (max-width: 380px) , (max-height: 690px){
    .container-login {
        padding:10px 35px;
    }
    .bottomDiv .pTagOurB, .bottomDiv #downHeaderImg span{
        font-size: 15px;
    }   
  }
  @media (max-width: 360px){
    .wrap_btn a {
        font-size: 13px;      
    }
  }
  @media (max-width: 1024px){   
    .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
        white-space: nowrap;
    }
  }
   @media (min-width: 1332px){
    table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
        bottom: 8px;
    }
  } 